<% if cart_item == @current_item %>
	<tr id="current_item">
<% else %>
	<tr>
<% end %>
	<td><%= cart_item.quantity.blank? ? 1 : cart_item.quantity %></td>
	<td><%=h cart_item.product.title %></td>
	<td class="item-price"><%= number_to_currency(cart_item.product.price) %></td>
</tr>